<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"
    tools:ignore="ProtectedPermissions"
    xmlns:tools="http://schemas.android.com/tools" />
  <application>
    <service
      android:name="expo.modules.recorder.RecorderService"
      android:exported="false"
      android:foregroundServiceType="location" />
    <receiver
      android:name="expo.modules.recorder.BootReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
